:root {
    --header-height: 90px;
    --footer-height: 80px;
}

/* Fonts */

.header-overlay .nav-item a,
.header-overlay .login-container a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
}

.lead {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

.display-4 {
    font-family: 'Syncopate', Josefin Sans;
    font-weight: 200;
    font-size: 3.5rem;
    letter-spacing: 0.4em;
}

/* Buttons */

.btn-primary {
    background-color: #D4AF37;
    border-color:#0a4877;
}

/* Page backdrops */

/* Base.html styles */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
}

main {
    flex: 1;
}

.header-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    z-index: 1000;
    background: rgba(19, 17, 17, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.footer-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--footer-height);
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.header-overlay, .footer-overlay .container {
    padding-left: 5%;
    padding-right: 5%;
}

.logo-img {
    height: 150px;
}

.logo-container {
    padding-left: 0;
}

.login-container {
    padding-right: 0;
    padding: 0.5rem 1rem;
}

.header-overlay .logo {
    margin-left: 5%;
}

.header-overlay .logo a {
    text-decoration: none;
    font-size: 1.5rem;
}

.header-overlay .nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-overlay .nav-item {
    margin: 0 1rem;
}

.header-overlay .nav-link {
    color:#D4AF37;
}

.header-overlay .nav-item a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: transform 0.3s ease-in-out;
}

.header-overlay .nav-item a:hover {
    transform: scale(1.2);
}

.header-overlay .login-signup {
    margin-right: 5%;
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url('../images/coralreefshipwreck.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero .hero-content {
    position: relative; 
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    margin-left: 10%;
}

.hero-buttons {
    margin-right: 15%;
}


@keyframes wave-animation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.wavy-text {
    display: inline-block;
    overflow: hidden;
}

.wavy-text span {
    display: inline-block;
    transform: translateY(0);
    transition: transform 0.3s;
}

.wavy-text:hover span {
    animation: wave-animation 0.4s ease-in-out forwards;
}

.wavy-text span:hover {
    animation-iteration-count: 1;
}

/* Button Styles */

.hero .btn {
    font-family: 'josefin sans', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3em;;
    padding: 1.5rem 1.5rem;
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease-in-out, border-color 0s ease-in-out;
}

.hero .btn:hover {
    background: transparent;
    color: white;
    border-color: transparent;
}
/* Rotating button border effect */
.hero .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid transparent;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: -1;
}

.hero .btn:hover::before {
    animation: border-rotate 1s infinite linear;
}

/* Keyframes for the rotating border */
@keyframes border-rotate {
    0% {
        border-top-color: #D4AF37;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    25% {
        border-top-color: transparent;
        border-right-color: #D4AF37;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: #D4AF37;
        border-left-color: transparent;
    }
    75% {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: #D4AF37;
    }
    100% {
        border-top-color: #D4AF37;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.hero .btn:hover {
    transform: scale(1.2);
    background: transparent;
    color: white;
}

.hero .btn:hover {
    background: transparent;
    color: white;
}

.btn-wide {
    width: calc(3 * 6rem);
}

.hero .hero-text h1,
.hero .hero-text p {
    color: #D4AF37;
}

.social-media a {
    color: #fff;
    font-size: 24px;
}

.social-media a:hover {
    color: #D4AF37
}

footer .social-media a {
    margin: 0 1rem;
    color: #fff;
    text-decoration: none;
}

/* LOGIN */

form {
    max-width: 400px;
    max-height: 500px;
    margin: 1.5rem auto;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    overflow-y: auto;
}

form label {
    display: block;
    margin: 1rem 0 0.5rem;
}

form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 0.5rem;
    background-color: #00796b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0a4877;
}

.login-background {
    min-height: 100vh;
    background-image: url('../images/breachingwhale.jpg');
    background-size: cover;
    background-position: right center !important;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    margin-top: 7%;
    width: 60%;
    max-width: 550px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* interactive_map.html */

.map-background {
    background-image: url('../images/fishshoal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.map-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
}

.container-fluid.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.heading-container {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5px;
    text-align: left;
}

.heading-container h1 {
    color: #D4AF37;
    font-size: 75px;
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.5);
    border-radius: 8px;
    padding-left: 5px;
    margin: 0;
    animation: fadeIn 1s ease-in-out;
}

.heading-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(135deg, rgba(0, 123, 255, 0.7), rgba(0, 123, 255, 0.3)); /* Gradient overlay */
    border-radius: 8px;
    z-index: -1;
}

.heading-container.text-left {
    text-align: left;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.heading-container.full-width {
    height: auto;
    border-radius: 5px;
    width: 100%;
    margin-top: 40px;
    color: white;
}

.head-row {
    height: var(--header-height);
    flex-shrink: 0;
}

.guide-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 25px;
    margin-bottom: 25px;
    height: 92%;
}

.guide-container h4 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.guide-container ol {
    padding-left: 10px;
    font-size: 14px;
    margin-bottom: 45px;
}

.guide-container ol li {
    margin-bottom: 10px;
    color: white
}

#map {
    margin: 25px -7.5px;
    background-color: #e0f7fa;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.5);
    border: 2px solid #D4AF37;
    flex: 1;
    height: auto;
    width: 85%;
}

.addDiveForm {
    background-color: rgba(255, 255, 255, 0.3);
}

.map-tools {
    color: #D4AF37;
    box-sizing: border-box;
    font-size: 1rem;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
}

.map-tools h5 {
    color: white;
    margin-left: 8px;
}

.image-container {
    height: 100%; /* or set a specific height if needed */
    background-image: url('../images/diverascending.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.confirmation-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #D4AF37;
    color: white;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    width: auto;
}

#randomImage {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

/* profile.html CSS */

.profile-background {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url('../images/profile.jpg');
    background-size: cover;
    background-position: center;
}

.profile-container {
    position: relative;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;
}

.user-container {
    position: relative; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

@media (max-width: 768px) {
    .map-container {
        padding: 0.5rem;
    }

    .map {
        height: 60vh;
    }

    .header-overlay, .footer-overlay {
        padding: 0.5rem;
    }
}

@media (max-width: 768px) {
    .heading-container.text-left {
        text-align: center;
    }

    .heading-container.mb-3 {
        margin-bottom: 1rem;
    }
}