<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ocean Pins{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Syncopate:wght@400;700&family=Lobster&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header-overlay">
        <div class="container-fluid">
            <div class="row w-100 align-items-center">
                <div class="col d-flex logo-container">
                    <a href="{% url 'home' %}" class="text-white text-decoration-none"></a>
                    <img src="{% static 'images/logo1.png' %}" alt="Ocean Pins Logo" class="logo-img">
                </div>
                <div class="col-8 d-flex justify-content-center align-items-center">
                    <nav>
                        <ul class="nav">
                            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="{% url 'interactive_map' %}" class="nav-link">Interactive Map</a></li>
                            <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link">Profile</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col d-flex align-items-center justify-content-end login-container">
                    {% if user.is_authenticated %}
                        <span class="nav-link text-white">Logged In</span>
                        <a href="{% url 'logout' %}" class="nav-link text-white">Logout</a>
                    {% else %}
                        <a href="{% url 'login_signup_choice' %}" class="nav-link text-white">Login/Sign Up</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer-overlay">
        <div class="container text-center">
            <div class="social-media">
                <a href="https://twitter.com" target="_blank" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
                <a href="https://facebook.com" target="_blank" class="text-white mx-2"><i class="fab fa-facebook-f"></i></a>
                <a href="https://instagram.com" target="_blank" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
            </div>
            <p>&copy 2024 Ocean Pins</p>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'javascript/script.js' %}"></script>

</body>
</html>