{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero text-center">
    <h1 class="display-4">Welcome to Ocean Pins</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login</a>
</div>
<!-- <div class="background-image" style="background-image: url('#'); height: 500px; background-size: cover;"> -->
    <!-- Background image with underwater tranquil theme -->
</div>
{% endblock %}