{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero">
    <div class="overlay"></div>
    <div class="hero-content d-flex align-items-center justify-content-between">
        <div class="hero-text">
            <h1 class="display-4 wavy-text">Ocean Pins</h1>
            <p class="lead">Connect with the global diving community and share your experiences</p>
        </div>
        <div class="hero-button">
            <a href="{% url 'login' %}" class="btn btn-lg btn-wide">LOGIN</a>
        </div>
    </div>
</div>
á{% endblock %}