{% extends 'base.html' %}

{% block title %}Interactive Map{% endblock %}

{% block content %}
<div class="map-container">
    <div class="row">
        <div class="col-md-9">
            <div class="map" style="background-color: #e0f7fa;">
                <!-- Placeholder for the interactive map -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="map-tools bg-light p-3">
                <h5>Tools for adding user dives and wishlisting</h5>
                <!-- Tools for adding user dives and wishlisting -->
            </div>
        </div>
    </div>
</div>

<!-- Adding Dive Modal -->
<div class="modal fade" id="addDiveModal" aria-labelledby="addDiveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class ="modal-header">
                <h5 class="modal-title" id="addDiveModalLabel">Add Dives</h5>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addDiveForm">
                    <div class="form-group">
                        <label for="diveName">Dive Name</label>
                        <input type="text" class="form-control" id="diveName">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}