{% extends 'base.html' %}

{% block title %}Interactive Map{% endblock %}

{% block content %}
<div class="map-container">
    <div class="row">
        <div class="col-md-9">
            <div class="map" style="background-color: #e0f7fa;">
                <!-- Placeholder for the interactive map -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="map-tools bg-light p-3">
                <h5>Tools for adding user dives and wishlisting</h5>
                <!-- Tools for adding user dives and wishlisting -->
            </div>
        </div>
    </div>
</div>
{% endblock %}